**/.gradle
**/local.properties
**/.idea/workspace.xml
**/.idea/gradle.xml
# **/.idea/libraries
**/.DS_Store
**/build


*node_modules*
*bower_modules*

# MATLAB stuff
*.avi
*~

# Java compilation
**/out/**/*.class